{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>

<div class="login-wrapper">
    <div class="login-fields">
        <h1 class="login-title">Welcome back!</h1>
        <p class="login-subtitle">Today is a new day. It's your day. You shape it.<br>
        Sign in to start managing your projects.</p>

        <form method="POST">
            {% csrf_token %}
            {{ login_form }}
            <div class="forgot-row"><a href="#">Forgot password?</a></div>
            <button type="submit" class="login-button">Login</button>
        </form>

        <div class="signup-row">
            Don't have an account? <a href="{% url "accounts:register" %}">Sign Up</a>
        </div>
    </div>
</div>

</body>
</html>